.nav-tabs{
    box-align: right
}

.main {

    width: 70%;
    margin: auto;
    padding: 20px;
    background-color: hsl(261, 44%, 85%);
    border-width: 10px;

}
.profileimg{
    max-width: 80%;
    max-height: 80%;
    align-content: center;
    display: block; /* remove extra space below image */
}
.card-img-overlay-bgcolor{
    background-color: #593196;
    padding: 10px;
    color: white;

}
.card-deck{
    border: 1px;
    margin: 1px;
}